!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=EB+Garamond|Permanent+Marker'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %title Nested
  %body
    %header
      %ul.left
        %li#logo= link_to "ideasite", root_url
      %ul.right
        %li= link_to "about", 'about_url'
        %li= link_to "faq", root_url
        %li= link_to "sign in", new_user_session_path
        %li= link_to "sign up", new_user_registration_path
    %div#content
      %p.notice= notice
      %p.alert= alert
      %ul#main
        = yield
    %nav
      %ul
        %li GENERATE NAV HERE
        %li nave items -todo
        %li useful Nav Items
    %footer
      %div.content
        %ul.left
          %li a spentronics&#0153; digital creation
        %ul.right
          %li some link
          %li etc
          %li idk
          %li to what
